.line{
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;

}
body{
    text-align: center;
    background-color: aqua;
}
#GAMES{
    background-color: rgb(0, 170, 237);
}

